{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
<body>
    <!--Elegant-->
<button type="button" class="btn btn-elegant">Elegant</button>

<!--Unique-->
<button type="button" class="btn btn-unique">Unique</button>

<!--Pink-->
<button type="button" class="btn btn-pink">Pink</button>

<!--Purple-->
<button type="button" class="btn btn-purple">Purple</button>

<!--Deep-purple-->
<button type="button" class="btn btn-deep-purple">Deep-purple</button>

<!--Indigo-->
<button type="button" class="btn btn-indigo">Indigo</button>

<!--Light blue-->
<button type="button" class="btn btn-light-blue">Light blue</button>

<!--Cyan-->
<button type="button" class="btn btn-cyan">Cyan</button>

<!--Dark-green-->
<button type="button" class="btn btn-dark-green">Dark-green</button>

<!--Light-green-->
<button type="button" class="btn btn-light-green">Light-green</button>

<!--Yellow-->
<button type="button" class="btn btn-yellow">Yellow</button>

<!--Amber-->
<button type="button" class="btn btn-amber">Amber</button>

<!--Deep-orange-->
<button type="button" class="btn btn-deep-orange">Deep-orange</button>

<!--Brown-->
<button type="button" class="btn btn-brown">Brown</button>

<!--Blue-grey-->
<button type="button" class="btn btn-blue-grey">Blue-grey</button>

<!--MDB-->
<button type="button" class="btn btn-mdb-color">MDB</button>
    
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    
    
</body>
</html>